---
import { Icon } from "astro-icon/components";
import BaseLayout from "./BaseLayout.astro";
const { title, icon } = Astro.props;
---

<div class="collapse collapse-arrow duration-300 ease-in-out">
  <input aria-label={title} type="checkbox"/>
  <div class="collapse-title font-extrabold tracking-tight md:text-2xl">
    <div class="flex items-center">
      <Icon name={icon} class="w-8 h-8 mr-4" />
      {title}
    </div>
  </div>
  <div class="collapse-content overflow-hidden transition-all duration-300 ease-in-out">
    <slot/>
  </div>
</div>